<h1>Judges</h1>
<p>Displaying (<%= @judges.size %>) Judical Candidate(s)&hellip;</p> 
<table class="detail-table judge-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Party</th>
            <th>Sitting</th>
            <th>Precinct</th>
            <th>E-Mail</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
      <% @judges.each do |judge| %>
        <tr>
            <td><%= judge.first_name %> <%= judge.last_name %></td>
            <td><%= judge.pol_Aff %></td>
            <td><% if judge.isSitting%>Yes<% else %>No<% end %></td>
            <td><%=judge.precinct_id %></td>
            <td><% if judge.email.present? %><a href="mailto:<%= judge.email %>"><%= judge.email %></a><% else %>N/A<% end%></td>
            <td><%= link_to 'More...', judge %></td>
        </tr>
      <% end %>
    </tbody>
</table>
