<h1><%= @judge.first_name %> <%= @judge.last_name %></h1>
<h2><% if @judge.isSitting %>Currently a Sitting Judge,<% end%> <% if @judge.pol_Aff.present? %><%= @judge.pol_Aff %><% end %><br />
  <% if @judge.precinct_id.present? %>
    Precinct: <%= @precincts.first.precinct_num %>,
    <%= @cities.first.city_name %>,
    <%= @counties.first.county_name %>,
    <%= @states.first.state_name %>,
    <%= @countries.first.country_name %>
  <% end %></h2>
<ul id="contact_options">
    <li><a href="<%= @judge.email %>">Contact</a></li>
</ul>
<p><%= @judge.biography %></p>
<% if @decisions.present? %>
<h3>Recent Decisions</h3>
  <table class="detail-table judge-decision-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Decision</th>
            <th>Date</th>
            <th>Decision Source</th>
        </tr>
    </thead>
    <tbody>
      <% @decisions.each do |decision| %>
        <tr>
            <td><%= decision.decision_title%></td>
            <td><%= decision.decision_position%></td>
            <td><%= decision.decision_date%></td>
            <td><% if decision.decision_source_URL.present?%><a href="<%= decision.decision_source_URL %>">Source</a><% else %>N/A<% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
