<%= session[:session_id] %>
<h1>
    <span class="underline">Your</span>
    Match Results</h1>
<p>Based on the the answers you gave on the previous page, we have matched you with the following candidates based on your ZIP Code. See how you match up with them.</p>
<!-- Mailer -->
<hr/>
<input id="mail-results" type="button" value="E-Mail Results"/>
<hr/>
<!-- END Mailer -->
<!-- BEGIN Match -->
<% @candidates.each do |candidate| %>
<!-- If there exists a candidate ID on any question choice -->
<% if QuestionChoice.where(candidate_id: candidate.id).present? %>
<!-- Get their stances -->
<% @can_stances = QuestionChoice.where(candidate_id: candidate.id) %>
<% end %>
<!-- If there exists a voter with the current session ID -->
<% if Voter.where(session_id: session[:session_id]).present? %>
<!-- Set a variable for that voter at that ID -->
<% @cur_voter = Voter.where(session_id: session[:session_id]) %>
<% if QuestionChoice.where(voter_id: @cur_voter.first.id).present? %>
<% @voter_stances = QuestionChoice.where(voter_id: @cur_voter.first.id) %>
<% end %>
<% end %>
<div class="match">
    <h2>You v.
        <%= link_to candidate.first_name + " " + candidate.last_name, candidate %></h2>
    <h3>Total Match</h3>
    <div class="match-container">
        <div class="match-percentage per-30">{{percent}}%</div>
    </div>
    <table class="detail-table match-table match-results-table">
        <thead>
            <tr>
                <th>You</th>
                <th>Match</th>
                <th><%= candidate.first_name + " " + candidate.last_name %></th>
            </tr>
        </thead>
        <tbody>
            <% @can_stances.each do |can_stance| %>
            <% @voter_stances.each do |voter_stance| %>
            <% @topic = Question.where(id: can_stance.question_id) %>
            <% @position = Choice.where(id: can_stance.choice_id, question_id: can_stance.question_id) %>
            <tr>
                <td class="match-table-question" colspan="3"><%= @topic.first.question_topic %></td>
            </tr>
            <tr>
                <td><%= voter_stance.choice.choice %></td>
                <td><% if voter_stance.choice.choice == can_stance.choice.choice %>YES<% else %>NO<% end %></td>
                <td><%= can_stance.choice.choice %></td>
            </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
    <hr/>
</div>
<% end %>
<!-- END -->
