<% @questions.each do |question| %>
    <% if @toggle == 0 %>
      <div class="match-q-b">
    <% else %>
      <div class="match-q-a">
    <% end %>
        <h1><%= question.id %>) <%= question.question %></h1>
        <% if question.question_desc.present? %>
          <p class="question_desc"><%= question.question_desc %></p>
        <% end %>
        <div class="match-choices">
              <%= fields_for :question_choices do |builder| %>
              <% @choices.where(question_id: question.id).each do |choice| %>
                <span class="choice">
                  <%= radio_button_tag(question.id, choice.id) %>
                  <%= label_tag(question.id.to_s + "_" + choice.id.to_s, choice.choice) %>
                </span>
              <% end %>
              <% end %>
        </div>
        <!-- Change Toggle -->
        <% if @toggle == 0%>
          <% @toggle = 1 %>
        <% else %>
          <% @toggle = 0 %>
        <% end %>
    </div>
<% end %>
