<h1><%= @candidate.first_name %> <%= @candidate.last_name %></h1>
<h2>Candidacy: <%= @candidate.running_for %> (<%= @candidate.office_type %>)<br />
Last Political Position: <% if @terms.present? %><%= @terms.first.position_title %><% else %>None<% end %>
<% if @candidate.isEncumbent == true %>Encumbent,<% end %><br />
<%= @candidate.pol_Aff %><br />
<% if @candidate.precinct_id.present? %>
  Precinct: <%= @precincts.first.precinct_num %>,
  <%= @cities.first.city_name %>,
  <%= @counties.first.county_name %>,
  <%= @states.first.state_name %>,
  <%= @countries.first.country_name %>
<% end %>
</h2>
<ul id="contact_options">
    <li><a href="<%= @candidate.email %>">Contact</a></li>
    <li><a href="<%= @candidate.pol_URL %>">Website</a></li>
</ul>
<p><%= @candidate.biography %></p>
<% if @stances.present? %>
<h3>Positions</h3>
  <table class="detail-table candidate-stance-table">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Stance</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        <% @stances.each do |stance| %>
          <% @topic = Question.where(id: stance.question_id) %>
          <% @position = Choice.where(id: stance.choice_id, question_id: stance.question_id) %>
          <tr>
              <td><%= @topic.first.question_topic %></td>
              <td><%= @position.first.choice %></td>
              <td><a href="<%= stance.choice_source_URL %>">Source</a></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
<% if @terms.present? %>
  <h3>Past Terms</h3>
  <table class="detail-table past-terms-table">
      <thead>
          <tr>
              <th>Position Title</th>
              <th>Term Start</th>
              <th>Term End</th>
          </tr>
      </thead>
      <tbody>
        <% @terms.each do |term| %>
          <tr>
              <td><%= term.position_title %></td>
              <td><%= term.termStart %></td>
              <td><%= term.termEnd %></td>
          </tr>
          <% end %>
      </tbody>
  </table>
<% end %>
